{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block content %}
<div class="py-4 mx-auto" style="width: 400px;">
    <form method="POST">
        <div  class="input-group mb-3">
            <input class="form-control" name = "city_name" type="text" placeholder="Città da inserire">
            <button class="btn btn-primary">Aggiungi</button>
        </div>

    </form>
      {% if err_msg %}
      <div class="alert alert-danger" role="alert">
            {{err_msg}}
      </div>
      {% endif %}
</div>

<div class="row">
{% for i in data %}
    <div class="col-sm-2">
        <div class="card" style="width: 18rem;">
            <img src="http://openweathermap.org/img/w/{{ i['icon'] }}.png" class="card-img-top" alt="{{ i['description'] }}">


            <div class="card-body">
                <h5 class="card-title"><strong>{{ i['city'] }} </strong>
                    <span><small>{{ i['country'] }}</small></span>
                </h5>
            <p class="card-text"><small>lon. {{i['lon']}} lat. {{i['lat']}}</small>
             <br>

             <small>Temp.: Min {{i['temp_min']}} °C - Max {{i['temp_max']}} °C <br>
             Pressione {{i['pressure']}} mbar - Unidità {{i['humidity']}}%
             <br>Vel. vento {{i['wind_speed']}} km/h
            </small></p>

            <a href="{{ url_for('seven_days',
               city = i['city'],
               lat = i['lat'],
               lon = i['lon'])}}" class="btn btn-primary">7 Giorni</a>

            <a href="{{ url_for('delete_city', city = i['city'])}}" class="btn btn-danger">Elimina</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock content %}

{% block footer %}

{% endblock footer %}
