{% extends 'base.html' %}
{% block title %} 7 Days Forecast {% endblock title %}
{% block content %}
        <div class="container">
            <p><strong>{{weather.city}}</strong> <small>(lat. {{ weather.lat }} lon. {{ weather.lon }})</small></p>
            <p class="">Previsioni prossimi 7 giorni -
            <small>fonte: <a href="http://openweathermap.org">Open Weather Map</a></small></p>

        </div>

        <div class="mx-auto" style="width: 80%; text-align:center;">

            <table class="table table-hover">
              <thead>
                <tr>
                    <th>    Data </td>
                    <th>    Previsione </td>
                    <th>    Alba </td>
                    <th>    Tramonto </td>
                    <th>    Temp. Min. </td>
                    <th>    Temp. Max</td>
                    <th>    Pressione</td>
                    <th>    Nuvoloso </td>
                    <th>    Vento Vel. </td>
                </tr>
            </thead>

                {% for i in range(8) %}
                <tr>

                <td>{{ weather.forecast[i]['date'] }} </td>
                    <td><img class="img-thumbnail" src="http://openweathermap.org/img/w/{{ weather.forecast[i]['icon'] }}.png" alt="{{ weather.forecast[i]['description'] }} title="{{ weather.forecast[i]['description'] }}" "></td>
                <td>{{ weather.forecast[i]['sunrise'] }} </td>
                <td>{{ weather.forecast[i]['sunset'] }} </td>
                <td>{{ weather.forecast[i]['temp_min'] }} °C </td>
                <td>{{ weather.forecast[i]['temp_max'] }} °C</td>
                <td>{{ weather.forecast[i]['pressure'] }} mbar</td>
                <td>{{ weather.forecast[i]['clouds'] }} %</td>
                <td>{{ weather.forecast[i]['wind_speed'] }} km/h</td>

            </tr>
                {% endfor %}
            </table>
        </div>


    {% endblock content %}

    {% block footer %}
        <footer class="footer">
          <div class="content has-text-centered">
                <a href="{{ url_for('index')}}">
                <button class="button is-success"><span>Ritorna</span></button>
                </a>
            </div>
        </footer>

    {% endblock footer %}
